.Hero-image{
    background-image: url("https://premierortho-assets.s3.amazonaws.com/newheader-image.jpeg");
    background-repeat: no-repeat;
    height:600px;
    background-size: cover; 
    display: flex;
    align-items: center;
    position:relative;
}

.Hero-image .img-text{
    width:100%;
    display: flex;
    justify-content: center;
}
.Hero-image .img-text .text-content{
    display: flex;
    flex-direction: column;
    width:66.5%;
}
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-weight: bold;
    font-size: 60px;
    color:#fff;
}
.Hero-image .img-text .text-para{
    width:50%;
}
.Hero-image .img-text .text-para >p{
    padding-top:20px;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    opacity: 0.85;
    color: black;
}

.Hero-image .img-text .text-content .button{
    padding-top:40px ;

}
.Hero-image .img-text .text-content .button .btn{
    padding: 16px 37px;
    background-color: #333333 ;
    color: white;
    border:none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

/* mobile header bar */

.mobile-nav{
    z-index: 1;
    width:100%;
    position: absolute;
    top:0;
    padding:17px 0px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(136, 136, 137, 0), rgba(0, 0, 0, 0.67));
    display:none;
}
.toggler{
    cursor:pointer;
    padding-top:8px;
    padding-right:40px;
}
.toggler > img{
    display: block;
}
.res-nav-logo{
    width:150px;
    padding-left: 15px;
}
/* mobile header bar end*/
/* Mobile navlist */
.res-navlist{
    position: fixed;
    top:0;
    bottom:0;    
    width:305px;
    background-color: #0095cf;
    right:0px;
    z-index:500;
    padding-left: 37px;
    padding-top: 62px;
    padding-bottom: 41px;
    color: white;
}
.nav-closer > i{
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    font-size: 30px;
    z-index: 800;
    cursor:pointer;
}
.res-search{
    width: 90%;
    position: relative;
    background-color: #fff;
    color:black;
    border-radius:6px;
}
.res-search > input[type=text]{
    width: 100% ;
    height: 40px ;
    padding: 1px 2px 1px 15px;
    border: none;
    border-radius: 4px;
} 
.res-search > i{
    position: absolute;
    top: 3px ;
    right: 9px ;
    color: #0095cf;
}
.mobile-list  ul{
    padding-top: 25px ;
}
.mobile-list  ul li a{
    color:white;
    font-size: 14px;
    font-weight:400;
}
.mobile-list  ul li{
    cursor:pointer;
}
.d-b{
    display: block;
}

/* Mobile navlist ends */
/* media quries */
@media (max-width: 1199px) and (min-width: 1024px) {
    
    .Hero-image .img-text{
        padding-top:110px;
    }
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
}
} 
@media (max-width: 1023px) and (min-width: 992px) {
    .Hero-image{
        background-position: center;
      }    
    
    .Hero-image .img-text{
        padding-top:110px;
    }
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
}
}

@media (max-width: 991px) and (min-width: 768px) {

    .Hero-image{
        background-position: center;
      }    
    
.Hero-image .img-text{
    padding-top:110px;
}
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
} 
 } 




@media (max-width: 767px) and (min-width: 685px) {
    .Hero-image{
        background-position: center;
      }    

.Hero-image .img-text{
    padding-top:110px;
}
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
}
} 
@media (max-width: 684px) and (min-width: 568px) {
    .Hero-image{
        background-position: center;
      }    
    
    .Hero-image .img-text{
        padding-top:110px;
    }
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
}
} 
@media (max-width: 567px) and (min-width: 480px)  {
    .Hero-image{
        background-position: center;
      }    
 
.Hero-image .img-text{
    padding-top:110px;
}
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
}
}

@media (max-width: 480px) and (min-width: 360px)  {
    .Hero-image{
      background-position: center;
    }    
.Hero-image .img-text{
    padding-top:110px;
}
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
} 
}
@media (max-width: 360px) and (min-width: 200px)  {
    .Hero-image{
        background-position: center;
      }    
.Hero-image .img-text{
    padding-top:110px;
}
.Hero-image .img-text .text-content >span:first-child , .Hero-image .img-text .text-content >span:nth-child(2){
    font-size: 30px;
} 
.Hero-image .img-text .text-para >p{
    font-size: 16px;
}
.Hero-image .img-text .text-content .button .btn{
    padding: 12px 18px;
    font-size: 10px;
}
.Hero-image .img-text .text-content{
    width:100%;
    padding-left:20px;
}
.Hero-image .img-text .text-para{
    width:80%;
}
.Hero-image .img-text .text-para >p{
    color: white;
    font-size: 16px;
}
.mobile-nav{
    display:flex;
}
}
